.image-like {
  width: 100%;
  aspect-ratio: 1920 / 800;
  text-align: center;
}

.center {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 60%);
}

#overlay {
  visibility: hidden;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 1s;
}

.connect-wallet-button {
  min-width: 200px;
}

.connect-wallet-button>img {
  width: 16px;
  margin-right: 8px;
}

.video-container {
  text-align: center;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding-top: 30px;
}

.background {
  background-size: auto 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.avalanche-div-border {
  border: none;
}

.flare-div-border {
  border: none;
}

.songbird-div-border {
  border: none;
}

.notification-block {
  border-left: 4px solid #999;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, .5);
}

.notification-block.note {
  border-color: lime;
}

.notification-block.warning {
  border-color: orange;
}

.notification-block.danger {
  border-color: red;
}


/* DELEGATION LIST */

.delegation-updates {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  white-space: nowrap;
  overflow-x: auto;
}

.delegation-updates div {
  padding: 5px 0;
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

.delegation-updates div:nth-child(-n + 5) {
  color: white;
  font-weight: bold;
}