.image-like {
  width: 100%;
  aspect-ratio: 1920 / 800;
  text-align: center;
}

.center {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 60%);
}

#overlay {
  visibility: hidden;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 1s;
}

.connect-wallet-button {
  min-width: 200px;
}

.connect-wallet-button > img {
  width: 16px;
  margin-right: 8px;
}

.text-success {
  color: lime;
}

.text-danger {
  color: FireBrick;
}

.video-container {
  text-align: center;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding-top: 30px;
}