.image-like {
  width: 100%;
  aspect-ratio: 1920 / 800;
  text-align: center;
}

.center {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 60%);
}

#overlay {
  visibility: hidden;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 1s;
}

.connect-wallet-button {
  min-width: 200px;
}

.connect-wallet-button>img {
  width: 16px;
  margin-right: 8px;
}

.text-success {
  color: lime;
}

.text-danger {
  color: FireBrick;
}

.video-container {
  text-align: center;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding-top: 30px;
}

.specs-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.specs-table-container {
  overflow-x: auto;
  width: auto;
}

.specs-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}

.specs-table-row {
  display: table-row;
  vertical-align: middle;
  outline: 0px;
}

.specs-table-data {
  display: table-cell;
  line-height: 1.43;
  padding: 8px 12px 8px 8px;
  font-size: 0.875rem;
}

.specs-table-data-right {
  text-align: right;
  color: white;
  font-weight: bold;
}

.specs-table-data-left {
  text-align: left;
}

.specs-table .link {
  font-weight: normal;
}

.specs-table-border {
  margin: 0px 16px;
  flex-shrink: 0;
  border-width: 0px 0px thin;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  align-self: center;
}

.specs-table-info {
  display: inline-block;
  margin-right: 5px;
  color-scheme: dark;
  color: inherit;
}

.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background.background-avalanche {
  background-image: url('src/assets/images/projects/avalanche/validator/background.jpeg');
}

.background.background-flare {
  background-image: url('src/assets/images/projects/flare/validator/background.png');
}

.background.background-songbird {
  background-image: url('src/assets/images/projects/songbird/fsp/background.png');
}

.avalanche-div-border {
  border: 1.25px solid #FF394A;
}

.flare-div-border {
  border: 1.25px solid #E62058;
}

.songbird-div-border {
  border: 1.25px solid #253c4d;
}