.meter-bar-container {
    margin-top: 15px;
}

.meter-bar-title {
    font-size: 18px;
    color: white;
}

.meter-bar {
    display: flex;
    padding: 1.5px;
}

.meter-bar-desc {
    text-align: center;
    width: 100px;
    font-size: 20px;
    margin: auto;
    margin-left: 10px;
}

.meter-bar-led {
    min-height: 100%;
    margin: 1px;
    flex-grow: 1;
    border-radius: 3px;
}
