.progress-bar {
  width: 500px;
  background-color: #161618;
  text-align: center;
  border-radius: 5px;
}

.progress-fill {
  height: 100%;
  width: 0%;
  background-color: FireBrick;
  animation: fill 5s linear forwards;
}