/* setup info-tooltips */
.info-tooltip {
  position: relative;
  z-index: 20;
}

.info-tooltip:before,
.info-tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.info-tooltip:after {
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgba(0, 0, 0, .75);
  border-left: 6px solid transparent;
  content: '';
  height: 0;
  top: -5px;
  left: 20px;
  width: 0;
}

.info-tooltip:before {
  background: rgba(0, 0, 0, .75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
  top: -5px;
  white-space: nowrap;
}

/* the animations */
/* tooltip-fade */
.info-tooltip.tooltip-fade:after,
.info-tooltip.tooltip-fade:before {
  transform: translate3d(0, -10px, 0);
  transition: opacity .15s ease-in-out, transform .15s ease-in-out;
}

.info-tooltip.tooltip-fade:hover:after,
.info-tooltip.tooltip-fade:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* expand */
.info-tooltip.expand:before {
  transform: scale3d(.2, .2, 1);
  transition: opacity .2s ease-in-out, transform .2s ease-in-out;
}

.info-tooltip.expand:after {
  transform: translate3d(0, 6px, 0);
  transition: opacity .1s ease-in-out, transform .1s ease-in-out;
}

.info-tooltip.expand:hover:before,
.info-tooltip.expand:hover:after {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.info-tooltip.expand:hover:after {
  transition: all .2s .1s ease-in-out;
}